<script src="../../../static/assets/vendor/jquery/jquery.min.js"></script>
<script src="../../../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="../../../static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../../static/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="../../../static/assets/vendor/chartist/js/chartist.min.js"></script>
<script src="../../../static/assets/scripts/klorofil-common.js"></script>

<script src="../../../static/bootstrap/dist/bootstrap-table.js"></script>
<script src="../../../static/bootstrap/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="../../../static/bootstrap/vendors/bootstrap-paginator.js"></script>

<script src="../../../static/material/vendors/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../../../static/material/vendors/bootgrid/jquery.bootgrid.updated.js?v=2"></script>
<script src="../../../static/material/vendors/moment/min/moment.min.js"></script>
<script src="../../../static/material/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../../static/material/vendors/eonasdan-bootstrap-datetimepicker/build/js/zh-cn.js"></script>

<script src="../../../static/material/vendors/Waves/dist/waves.min.js"></script>
<script src="../../../static/material/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="../../../static/js/jquery.validate.js"></script>
<script src="../../../static/js/functions.js"></script>
<script src="../../../static/js/app.js"></script>
<script src="../../../static/js/baiduTemplate.js"></script>
<script src="../../../static/js/tabredirect.js"></script>

<script type="text/javascript">
var targetProtocol = "https:";
if (window.location.protocol != targetProtocol)
 window.location.href = targetProtocol +
  window.location.href.substring(window.location.protocol.length);
</script>