<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/main/index"><img src="../../../static/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a src="../../../static/#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown" id="dropmenu1">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height: 78px;padding: 24px"><img id="headIcon" style="border-radius: 45%;width: 30px" > 
								<span>
<!-- 									<#if  Session["loginUserName"]??> -->
<!-- 										${Session["loginUserName"]} -->
<!-- 									</#if> -->
									<#if  Session["loginUser"]??>
										${Session["loginUser"].name}
									</#if>
								</span>  
								<i class="icon-submenu lnr lnr-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<#if  Session["loginUser"]??>
									<#if  Session["loginUser"].state == 2>
										<li id="check"><a href="#"><i class="lnr lnr-user"></i> <span>去认证</span></a></li>
									<#elseif Session["loginUser"].state == 3>
										<li><a><i class="lnr lnr-user"></i><span>已认证</span></a></li>
									</#if>
								</#if>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>我的消息</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>设置</span></a></li>
								<li><a href="/logout"><i class="lnr lnr-exit"></i> <span>退出登录</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
<script src="../../../static/assets/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">	
var uid = null;
<#if  Session["loginUser"]??>
	uid = ${Session["loginUser"].uid};
	$("#check").click(function(){
		$("#mainIframe").attr("src", "/auth/index.html?uid="+uid);
		$("#dropmenu1").removeClass("open");
	});
	<#if  Session["loginUser"].headIcon??>
		var headIcon = '${Session["loginUser"].headIcon}';
		$("#headIcon").attr("src", headIcon);
	<#else>
		$("#headIcon").attr("src", "../../../static/assets/img/headIcon.png");
	</#if>
</#if>

	
</script>
